/* Warna Aksen Yellow */
:root {
    --color-primary: #efea58; 
    --color-secondary: #749d9f; 
}

body{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(213, 218, 227);
line-height: 1,5;
font-size: 16px;
margin: 0;
padding: 20px;
}

.cv-container{
background-color: rgb(250, 247, 244);
width: 90%;
max-width: 900px;
padding: 20px;
margin: 30px auto;
}

h1{
    color: black;
    margin-bottom: 5px;
}

h2{
    color: rgb(226, 226, 32);
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 3px solid var(--color-primary);
}


.header-section{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.header-content
{
    display: flex;
    padding: 15px 0;
    width: 100%;
    gap: 20px;
}

.foto-profil img
{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--color-primary);
}

.slogan-cv
{
    background-color: var(--color-primary);
    border-left: 3px solid var(--color-secondary);
    font-style: italic;
    text-align: justify;
}

.main-content {
    display: flex
}
.kiri-pengalaman{
    width: 70%;
    padding-left: 20px;
    margin-right: 10px;
}
.kanan-skill{
    width: 30%;
    background-color: #749d9f;
    padding: 20px;
}

.exp-item
{
    border-left: 3px solid var(--color-primary);
    padding-left: 10px;
}

.video-section
{
    margin-top: 30px;
}

footer{
    text-align: center;
    background-color: var(--color-secondary);
    padding: 10px 10px;
    margin-top: 20px;
}

